$("<h4 class='bg-danger'>You already applied for this job!</h4>").hide().appendTo("h1").fadeIn(999);
$("h4").remove();
$("<h4 class='bg-danger'>You already applied for this job!</h4>").hide().appendTo("h1").fadeIn(999);
